# Override some defaults so BT stack is enabled
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y

CONFIG_BLE_CONN_MGR_ROLE_PERIPHERAL=y
CONFIG_BLE_CTS=y

# Disable Brownout Detector to prevent boot loops on power spikes
CONFIG_ESP_BROWNOUT_DET=n
CONFIG_ESP32_BROWNOUT_DET=n
CONFIG_BROWNOUT_DET=n
